<h1>ブログ一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
  <% @blog.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
</table>
<%= link_to "新規作成画面へ", new_blog_path%>